# node_modules/
# dist/
# .env.local
# .env



# Frontend
node_modules/
dist/

# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.local

# OS files
.DS_Store

# Database files
*.db


# ML model artifacts
backend/app/ml/artifacts/